<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ShoppingList: Keep track of your shopping</title>
  <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet">
</head>
<body>
  <section class="sl_hero">
    <nav class="navbar navbar-default sl_header">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../static/images/sl_logo.png" alt="Shopping List Logo"></a>
        </div>
        <div class="collapse navbar-collapse sl_collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">          
            <li>
              <a href="explore.html">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                Explore
              </a>
            </li>          
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/logout">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                Logout
              </a>
            </li>          
          </ul>
        </div>
      </div>
    </nav> 
    <div class="container-fluid sl_hero_content">
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
      <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 sl_hero_control">
         <h1>
           <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
           Add a new List
         </h1>       
       </div>
       <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 sl_hero_display">
        <div class="sl_item_title">
          <h2>All Lists</h2>
        </div>
        {% for list in all_lists %}
        <div class="row sl_item_row" style="background-color: beige">
          <h5>
            {{ list.title }} 
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </h5>
          <p>{{ list.description }}</p>
          <h6>29/Aug/2017
            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" style="padding-left: 80%"></span>
          </h6>
          
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="sl_footer">
  <div class="container-fluid">
    <div class="col-sm-9">&copy 2017 ShoppingList</div>
    <div class="col-sm-3">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="https://jeanabayo.github.io">Jean Abayo</a></div>
  </div>
</section>
</body>
</html>