{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 sl_hero_text">
    <h1>Keep track of your shopping</h1>
    <a href="#" class="btn btn-primary btn-large">
      Join 
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </a>          
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 sl_hero_form">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="">Create a ShoppingList account</strong>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true"></span>
            <input class="form-control" placeholder="Username">
          </div>
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <input class="form-control" placeholder="Email">
          </div>
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock" aria-hidden="true"></span>
            <input class="form-control" placeholder="Password">
          </div>
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock" aria-hidden="true"></span>
            <input class="form-control" placeholder="Confirm Password ...">
          </div>              
          <div class="form-group last">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success btn-sm">Sign Up</button>
            </div>
          </div>                  
        </form>
      </div>
      <div class="panel-footer">Alredy have an account? <a href="login.html" class="">Signin here</a>
      </div>
    </div>    
  </div>
</div>
{% endblock %}    