{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 sl_hero_text">
    <h1>Keep track of your shopping</h1>
    <a href="#" class="btn btn-primary btn-large">Join <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>          
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 sl_hero_form">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="">Enter Your ShoppingList account</strong>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" action="" method="post">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <input class="form-control" placeholder="Email" type="email" name="email" value="{{request.form.email}}">
          </div>
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock" aria-hidden="true"></span>
            <input class="form-control" placeholder="Password" name="password" value="{{ request.form.password }}">
          </div>             
          <div class="form-group last">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success btn-sm">Sign In</button>
            </div>
          </div>                  
        </form>
        {% if error %}
        <p class="error"><strong>Error: </strong>{{ error }}</p>
        {% endif %}
      </div>
      <div class="panel-footer">Don't have an account? <a href="homepage.html" class="">Signup here</a>
      </div>
    </div>    
  </div>
</div>
{% endblock %} 